html, body{
    margin: 0;
    padding: 0;

}


header{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

header img{
    height: 300px;
    width: 300px;
}

@media (max-width < 376){
    header{
        flex-direction: column;
    }
}
